@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo img{
    height: 40px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin:  0;
    padding-bottom: 4px;
}

.nav__link--container{
    display: flex;
    height: 60px;
}

.nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav__link {
    display: flex;
    margin-left: 40px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.sign__up--button {
    border-radius: 20px;
    background-color: #6415ff;
    color: white;
    padding: 8px 20px;
    margin-left: 30px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

header .row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.header__title { 
    display: block;
    font-weight: 800;
    font-size: 48px;
}

.header__para {
    display: block;
    font-size: 18px;
    padding: 15px 0;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__img {
    align-self: flex-start;
    display: flex;
    margin-left:auto;
    flex: 0 auto;
    max-width: 700px;
    height: auto;
    object-fit: contain;
}

.header__email--button {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 10px;
}

.submit__button {
    background-color: #6415ff;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 38px;
    margin-left: -45px;
    position: relative;
    z-index: 1;
}

.email__input {
    padding: 12px 32px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 38px;
    padding-right: 80px;
}

.header__customers {
    padding-top: 70px;
}

.trusted__customers {
    font-size: 15px;
}

.customers__logo img {
   max-width: 320px;
   height: 30px;
   margin-top: 8px;
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.features__title {
    font-size: 45px;
    font-weight: 800;
}

.features__para {
    width: 100%;
    max-width: 540px;
    padding: 24px;
    line-height: 1.5;
} 

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 0;
    margin: 0 auto;
    max-width: 980px;
}

.service {
    display: flex;
    width: min(100%, 320px);
    justify-content: center;
    align-items: flex-start;
}

.service__img {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(240, 226, 240);
    border-radius: 50%;
    padding: 8px;
    margin-right: 20px;
}

.service__title {
    font-size: 25px;
    padding-bottom: 8px;
}

.service__para {
    width: 100%;
    max-width: 200px;
    padding-bottom: 50px;
    color:  rgb(150, 141, 150);
}


/* 

QUALITY WORK ↓

*/

#quality {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 0;
}

.quality__row {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.quality__info--container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    justify-content: center;
}


.quality__sub--title {
    font-size: 18px;
    padding-top: 6px;
}

.quality__title {
    font-size: 35px;
    font-weight: 900;
    padding: 15px 0px 10px 0px;
}

.quality__para {
    line-height: 1.5;
    font-size: 13px;
    padding-bottom: 30px;
    max-width: 85%;

}

.quality__button {
    border-radius: 24px;
    padding: 10px 18px;
    background-color: #6415ff;
    color: white;
    width: 120px;
}

.quality__container--two {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    padding:10px 10px 20px 10px;
}

.quality__nav--logo img{
    height: 20px;
}

.quality__nav--logo {
    display: flex;
    align-items: center;
}

.quality__nav--row {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.quality__link--container {
    display: flex;
}

.quality__links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.quality__link {
    font-size: 8px;
    text-decoration: none;
    margin-left: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.quality__sign--up__button {
    display: flex;
    margin-left: 10px;
    background-color: #6415ff;
    color: white;
    border: none;
    padding: 3px 8px;
    font-size: 8px;
    align-items: center;
}

.quality__text--section {
    flex: 1;
    order: 1;
}

.quality__header--content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: 5;
}

.quality__customers--logo img{
    max-width: 220px;
    padding-top: 8px;
}

.quality__header--title {
    font-size: 20px;
    font-weight: 800;
    padding-top: 45px;
}

.quality__header--para {               
    width: 280px;
    font-size: 10px;
    padding: 12px 0px 16px 0px;

}

.quality__header--email__button {
    display: flex;
    align-items: center;
    position: relative;
}

.quality__submit--button {
    background-color: #6415ff;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 32px;
    margin-left: -90px;
    font-size: 10px;
}

.quality__email--input {
    padding:6px 15px;
    outline: none;
    border-radius: 38px;
    padding-right: 70px;
    border: 2px solid #ccc;
    font-size: 10px;
}

.quality__trusted--customers {
    font-size: 10px;
    padding-top: 30px;
}

.quality__img--container {
    order: 2;
    flex-shrink: 0;
    width: 50%;
    z-index: 5;
}

.quality__header--img {
    display: flex;
    max-width: 100%;
    width: 100%;
    padding-top: 70px;
    margin-left: auto;
}

.decor__box {
    position: relative;
    bottom: 20%;
    right: -52.5%;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0;
    box-sizing: border-box;
    z-index: 0;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #6415ff;
    border-radius: 50%;
    align-self: center;
}

/* 

STEPS ↓

*/

.steps__container--one {
    width: 50%;
    display:flex;
    flex-direction: column;
}

.nav {
    display: flex;
    padding: 0 32px;
}

.header {
    width: 100%;
}


.steps__row {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__header--img {
    max-width: 1200px;
    width: 50%;
} 

.steps__nav--row {
    width: 100%;
    display: flex;
}

.steps__nav--links {
    list-style-type: none;
    display: flex;
    font-size: small;
}

.steps__nav--link {
    text-decoration: none;
}
/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
    .header__img {
        margin-top: 20px;
    }
}

@media (max-width: 1240px) {

    #quality {
        justify-content: center;
    }

   .quality__row {
       flex-direction: column;
       align-items: center;
    }

    .quality__info--container {
       width: 100%;
       text-align: center;
       margin-bottom: 40px;
    }

    .quality__container--two {
       width: 100%;
       align-items: center;
    }
}
@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header__img {
        width: 100%;
    }
  
    footer {
        padding: 80px 32px;
    }

}

@media (max-width: 800px) {
    .nav__links {
        display: none;
    }

    .quality__nav--row {
        display: none;
    }
    
    
}

@media(max-width: 768px){

    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {

    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}